#text {
  white-space: pre-line;
  font-family: "Pixelify Sans", sans-serif;
}

#choices button {
    margin: 10px 5px;
    padding: 5px 5px;
    cursor: pointer;
    color: #eee;
    background-color: rgb(90, 90, 90);
    border: none;
    font-family: "Pixelify Sans", sans-serif;

}

body {
  background: #111;
  color: #eee;
  font-family: sans-serif;
}

#game {
  max-width: 600px;
  margin: 50px auto;
}